nav{
    
    
}
.ul-menu{
    background-color: blue;
    color: #fff;
    gap :20px;
    padding :20px;
    justify-content: center;
    
}
li a {
    color :#000000;
    text-decoration: none;
    
}
.border{
    list-style: none;
    
}
.border {
    border-right:1px solid gray;
}
.ads{
    display:flex ;
    justify-content: space-between;
}
.banner{
    display: flex;
    justify-content: center;
    margin:20px 0 ;
}
header{
    border-bottom :10px ;

}

.tintuc-box{
     display:flex ;
    justify-content: space-between;
}
.child-tintuc{
    width: 100%;
    height: 300px;
}
.tintuc-minibox{
    width: 15%;
}
.tintuc{
    background-color: blue;
    justify-content: space-between;
    color: #fff;
    padding: 20px;
    margin: 5px 0 ;
}
.notifi-box{
    display: flex;
}
.notifi-link{
    width: 60%;
}
.ul-link-noti{
    width:100% ;
    
}
.div-thongbao{
    width: 100%;
}