.container{
    display: flex;
    background-color: rgb(227, 28, 28);
    height: 1000px;
}
.left-body{
    background-color: aquamarine;
    width: 20%;
}
.mid-body{
    background-color: blue;
    width: 60%;
}
.right-body{
    background-color: bisque;
    width: 20%;
}
.but{
    background-color: rgb(137, 137, 137);
    border-radius: 40%;
    
}
.song{
    overflow: auto;
}
.giua-listsong{
    justify-content: space-between;
    padding-top: 10px;
    
}
.giua-tiltesong{
    display:flex  ;
}
.img-song img{
    width: 50px;
}
.giua-image-song img{
    width: 40px;
}